.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact h3 {
  margin: 0px;
  margin-bottom: 1.875rem;
  font-size: 1.5625rem;
}

.contact-info h3:nth-of-type(2) {
  margin-top: 3.75rem;
}

.contact-info,
.contact-form {
  padding: 4rem 0px;
}

.contact-info i {
  color: var(--color-primary);
  font-size: 1.5rem;
}

.contact-info span {
  display: grid;
  grid-template-columns: 1.5rem auto;
  align-items: center;
  font-family: "Roboto";
  gap: .625rem;
  font-weight: 700;
  line-height: 1.6875rem;
}

.contact-info-container,
.contact-form-container {
  width: 540px;
}

.contact-info-container {
  float: right;
  padding-right: 7.125rem;
}

.contact-form-container {
  padding-left: 7.125rem;
}

.contact-form {
  background-color: #000;
  color: #FFF;
}

.contact-form label,
.contact-form input {
  display: block;
}

.contact-form label {
  font-weight: 700;
}

.contact-form input {
  width: 100%;
  margin-bottom: 1.875rem;
  padding: 0.5rem 0px;
  background: unset;
  border: unset;
  border-bottom: 0.06rem solid #FFF;
  color: #FFF;
  font-size: 1.5rem;
}

.contact-form input:focus {
  outline: unset;
}

.contact-form button {
  float: right;
}

.maps,
.maps iframe {
  height: 36.5rem;
}










