@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  --color-copy: #333;
  --color-primary: #FFC500;
  --default-padding: 1rem;
  color: var(--color-copy);
}

body {
  margin: 0px;
  padding-top: 7.75rem;
}

header,
main,
footer {
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin: 0px auto;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.navbar {
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #000;
  color: #FFF;
}

.navbar-container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  width: 100vw;
  height: 7.75rem;
  padding: 0 1rem;
}

.navbar-links {
justify-self: end;
}

.navbar-links a {
  font-weight: 300;
  text-decoration: none;
  color: #FFF;
}

.navbar-links a:hover {
  color: var(--color-primary);
}

.navbar-links li {
  font-size: 0.875rem;
  margin-right: 3rem;
  text-transform: uppercase;
}

.logo-studion {
  font-size: 2.375rem;
  font-weight: 900;
  line-height: 1ch;
  text-transform: uppercase;
  text-align: right;
}

.studion-subtitle {
  font-size: .875rem;
  font-weight: 300;
}

.copy-primary {
  color: var(--color-primary);
}

#slider {
  background-color: #000;
  color: #FFF;
}

.slide {
  position: relative;
  height: calc(100vh - 7.75rem);
}

.slide-background-image {
  width: 90%;
  object-fit: cover;
  object-position: center;
}

.slide-copy {
  position: absolute;
  top: 3.25rem;
  left: 50vw;
}

.slide-copy h6 {
  font-size: .9375rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1875rem;
}

.slide-copy h2 {
  font-size: 6.25rem;
  text-transform: uppercase;
  line-height: 6.25rem;
  margin-top: .625rem;
}

.slide-copy h2 span {
  display: block;
}

.btn {
  cursor: pointer;
  padding: 1rem 2.5rem;
  border: .125rem solid #FFF;
  border-radius: 5rem;
  color: var(--color-primary);
  background: unset;
  font-size: .9375rem;
  font-weight: 700;
  text-transform: uppercase;
  transform: 0.5s all ease;  
}

.btn:hover, 
.btn:active, 
.btn:focus,
.btn-institutional {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: #FFF;
}

#counter {
  background-color: var(--color-primary);
  color: #FFF;
  text-transform: uppercase;
}

.counter-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
  padding: 4.375rem 1rem;
}

.counter-container h3 {
  font-size: 2.1875rem;
}

.counter-container h3 small {
  display: block;
  font-size: 1.25rem;
}

.institutional {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3.125rem;
  align-items: center;
  padding: 4.375rem;
}

.institutional-image {
  max-width: 550px;
}

.institutional-copy {
padding: 0 1.875rem;
} 

.institutional-copy h6 {
  font-size: .875rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0px;
}

.institutional-copy h4 {
  font-size: 1.5625rem;
  margin-top: 1rem;
}

.institutional p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.0625rem;
  line-height: 1.6875rem;
  margin-bottom: 0px;
  margin-bottom: 2.5rem;
}

.btn-institutional:hover {
  color: var(--color-copy);
  background: unset;
}

.quote {
  background-image: url(./images/parallax.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.quote-container {
  display: grid;
  align-items: center;
  justify-items: end;
  min-height: 80vh;
}

.quote-copy {
  background-color: #fff;
  padding: 2.625rem 4.375rem;
}

.quote-copy h6 {
  font-size: .9375rem;
  font-weight: 400;
  letter-spacing: .1875rem;
  line-height: 1.4375rem;
  max-width: 45ch;
  margin: 0px;
}

.quote-copy h2 {
  font-size: 5rem;
  line-height: 5rem;
  text-transform: uppercase;
  letter-spacing: -.1875rem;
  margin: 1.875rem 0px;
}

.quote-copy h2 span {
  display: block;
}

.btn-quote {
  color: var(--color-copy);
  border-color: var(--color-copy);
  background: unset;
}

.footer {
  background-color: #000;
  color: #FFF;
  text-align: center;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  border-bottom: 0.1rem solid #FFF3;
  padding: 5rem 0px;
}

.footer .logo-studion {
  justify-self: start;
  margin: 0px;
}

.studion-subtitle {
  display: block;
}

.footer-form {
  display: grid;
  place-items: center;
  grid-template-columns: 9ch auto;
  gap: 1.375rem;
}

.footer-form label {
  font-size: .875rem;
  font-weight: 300;
  line-height: 1rem;
}

.footer-form-email {
  display: grid;
  grid-template-columns: auto 3.375rem;
  width: 100%;
}

.footer-form input {
  background-color: var(--color-primary);
  border: unset;
  padding: 1rem;
  font-size: .875rem;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-form input::placeholder {
  color: #000;
}

.footer-form button {
  cursor: pointer;
  transition: 0.3s all ease;
}

.footer-form button:hover {
  color: #FFF;
  background-color: var(--color-copy);
}

.footer-social {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0.5rem;
  justify-self: end;
}

.footer-social a,
.footer-social a:visited,
.footer-social a:active {
  color: #FFF;
  margin-left: 0.2rem;
}

.footer-social .fa-twitter {
  color: #000;
}

.footer p {
  margin: 2.5rem 0px;
}



















































































